<nav class="navbar navbar-dark bg-dark fixed-top mb-5">
  <div class="container justify-content-between">
    <p class="navbar-brand" href="#">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      TestBlog
    </p>
    <div class="col-md-6 text-center d-none d-lg-block" *ngIf="isPost">
      <form class="d-flex d-inline">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">
          <mat-icon class="align-middle">search</mat-icon>
        </button>
      </form>
    </div>
    <div class="navbar-brand col-md-2 text-light" *ngIf="username">
      <p>{{ username }}</p>
    </div>
    <div
      class="offcanvas offcanvas-start bg-dark"
      tabindex="-1"
      id="offcanvasNavbar"
      data-bs-scroll="true"
      data-bs-backdrop="false"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
          <span class="navbar-toggler-icon"></span>
        </h5>
        <button
          type="button"
          class="btn-close text-reset bg-light"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <div class="row justify-content-center">
          <form class="d-flex d-block d-lg-none">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              <mat-icon>search</mat-icon>
            </button>
          </form>
          <a
            class="btn btn-primary rounded-0 col-xl-4 col-sm-4 col-md-4 col-lg-4 mt-3"
            [routerLink]="[urlAddPostLink]"
          >
            <svg xmlns="http://www.w3.org/2000/svg" height="70px" viewBox="0 -960 960 960" width="80px" fill="#1f1f1f">
              <path d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h394v60H180v600h600v-394h60v394q0 24-18 42t-42 18H180Zm141-157v-60h319v60H321Zm0-127v-60h319v60H321Zm0-127v-60h319v60H321Zm371-73v-88h-88v-60h88v-88h60v88h88v60h-88v88h-60Z"/>
            </svg>
            <p class="text-dark">Post</p>
          </a>
        </div>
        <ul class="navbar-nav text-center flex-grow-1 pe-3">
          <li class="nav-item mt-5 fs-3" *ngFor="let item of menu">
            <a
              class="nav-link text-light"
              aria-current="page"
              [routerLink]="[item.link]"
              routerLinkActive="active"
            >
              {{ item.name }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
