<div class="sidebar">
    <mat-sidenav-container>
        <mat-sidenav-content>
            <mat-sidenav>
                <mat-nav-list class="nav-list" *ngFor="let link of menuItems"> 
                    <button color="link" [routerLink]="" routerLinkActive="active-link" *ngIf="isLoggedIn">
                        <svg xmlns="http://www.w3.org/2000/svg" height="70px" viewBox="0 -960 960 960" width="80px" fill="#1f1f1f">
                            <path d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h394v60H180v600h600v-394h60v394q0 24-18 42t-42 18H180Zm141-157v-60h319v60H321Zm0-127v-60h319v60H321Zm0-127v-60h319v60H321Zm371-73v-88h-88v-60h88v-88h60v88h88v60h-88v88h-60Z"/>
                        </svg>
                        <span class="nav-text">Post</span>
                    </button>
                    <a mat-list-item [routerLink]="" routerLinkActive="active-link" *ngIf="isLoggedIn">
                        <mat-icon >account_circle</mat-icon>
                        <span class="nav-text">Profile</span>
                    </a>
                    <a mat-list-item [routerLink]="link.route" routerLinkActive="active-link">
                        <mat-icon >{{ link.icon }}</mat-icon>
                        <span class="nav-text">{{ link.name }}</span>
                    </a>
                </mat-nav-list>
            </mat-sidenav>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
